# Add any directories, files, or patterns you don't want to be tracked by version control
/config.yml
/theme/config.yml
/theme.lock
/theme/theme.lock
/node_modules
/package-lock.json

# Editors
.idea
.vscode
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
$RECYCLE.BIN/